!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shelfish
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .notice= notice
    .alert= alert
    
    .container
      .header
        .brand 
          = link_to "Shel.fi", root_path
        .user_meta
          - if user_signed_in?
            = link_to current_user.nickname, user_path(current_user)
            = link_to "+", new_book_path, class: "btn ml"
          - else
            = link_to "log in", user_session_path
            or
            = link_to "sign up", new_user_registration_path
      .main
        = yield
      .footer
        .brand Shel.fi — your peaceful bookshelf
        .meta
          - if user_signed_in?
            = link_to "edit profile", edit_user_registration_path
            \/
            = link_to "sign out", destroy_user_session_path, :method => :delete
          - else
            = link_to "log in", user_session_path
            or
            = link_to "sign up", new_user_registration_path


      
